<div class="" *ngIf="posts">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">SquareBlog - A Blog Made with Angular and Laravel</h2>
			<div class="intro">Welcome to my blog. You can sort posts by publication date.</div>
			<br>
			<!--SIMPLE SEARCH-->
			<form id="searcForm" class="signup-form form-inline justify-content-center pt-3" #searchForm="ngForm" (ngSubmit)="resetForm(searchForm)">
				<div class="form-group">
					<label class="sr-only" for="semail">Date</label>
					<input type="date" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Publication date"  [(ngModel)]="query">
				</div>
				<button type="submit" class="btn btn-success btn-search" (click)="getPosts()">Search</button> 
			</form>
			
			<!-->END SIMPLE SEARCH-->
			<small><a data-toggle="modal" data-target="#searchModal"><i class="fas fa-filter"></i> Custom filter</a></small>
		</div>
		<!-- Modal TO CUSTOM SEARCH -->
		<div class="modal-box">
			<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg clearfix" role="document">
				<div class="modal-content clearfix">
				 
				  <form  id="customForm" #searchCustomForm="ngForm" (ngSubmit)="resetForm(searchCustomForm)">
				  <div class="modal-body">
						<div class="modal-icon">
                            <i class="fas fa-search"></i>
                      </div>
					  <div class="form-group">
						<label id="hola" for="recipient-name" class="col-form-label">From</label>
						<input  type="date" class="form-control" id="recipient-name" name="from" [(ngModel)]="from">
					  </div>
					  <div class="form-group">
						<label for="recipient-name" class="col-form-label">To</label>
						<input type="date" class="form-control" id="recipient-name" name="to" [(ngModel)]="to">
					  </div>
					<button type="button" class="btn" data-dismiss="modal">Close</button>
					<button type="submit" class="btn cancel" data-dismiss="modal" (click)="getPosts()">SEARCH</button>
				  </div>
				 
				  </form>
				</div>
			  </div>
			</div>
		</div>
		<!--END MODAL-->
		
	</section>
	<!--LIST OG POSTS-->
	<posts-list [posts]="posts" [url]="url"></posts-list>
	<!-- END LISTS-->
	
</div>
<div *ngIf="posts">
	<app-footer></app-footer>
</div>
